[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/keystone"]
	path = thirdparty/keystone
	url = https://github.com/redthing1/keystone.git
